.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.product-detail {
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    padding: 20px 12px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #670c7b 0%, #24afd9 100%);
}

.product-detail .container {
    padding-top: 0;
}


.main-image img {
    width: 80%;
    border-radius: 8px;
}


.image-option {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.product-detail-description {
    font-size: 16px;
}

.product-detail-name {
    color: #262626;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.product-detail-name-footer{
    font-size: 14px; 
    color:#FFFFFFB3;
}
.product-detail-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.product-detail-footer-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-quantity {
    margin: 0 15px;
    width: 50px;
}

.item-button-disabled {
    background-color: #e4e4e4 !important;
    cursor: not-allowed;
}

.product-detail-footer button {
    width: 42px;
    height: 42px;
    border-radius: 32px;
    background-color:  #f6d365;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-detail-note {
    margin-top: 20px;
}

.product-detail-clipboard {
    width: 18px;
    height: 20px;
}

.product-detail-size {
    
}

.product-detail-button button{
    margin-top: 20px;
    width: 50%;
    height: 48px;
    font-size: 16px;
    color: white;
    background-color:  #f6d365;
    border-radius: 48px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    border: none;
    margin-left: 30%;
}
.text-center {
    text-align: center;
}

.inner-content {
    margin: 0 0 120px 0;
}
.c100.big {
    font-size: 120px;
}
.c100.left {
    float: none;
    margin: auto 0;
}
.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #cccccc;
}
.c100.p50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.c100 .bar{
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

}
.c100 > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}
.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.c100.green .bar, .c100.green .fill {
    border-color: #4db53c !important;
}
.product-detail-size-header {
    background-color: #e4e4e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    padding: 15px 16px;
    border-radius: 8px 8px 0 0 ;
}

.product-detail-size-body {
    padding: 15px 16px;
    border: 1px solid #ededed;
    border-radius: 0 0 8px 8px;
}

.quantity-input {
    width: 50px;
    margin: 0 10px;
}

.product-detail-right{
    margin-left: -80px;
}