



.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.product-detail {
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    padding: 20px 12px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #670c7b 0%, #24afd9 100%);
}

.product-detail .container {
    padding-top: 0;
}


.main-image img {
    width: 80%;
    border-radius: 8px;
}


.image-option {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.product-detail-description {
    font-size: 16px;
}

.product-detail-name {
    color: #262626;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.product-detail-name-footer{
    font-size: 14px; 
    color:#FFFFFFB3;
}
.product-detail-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.product-detail-footer-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-quantity {
    margin: 0 15px;
    width: 50px;
}

.item-button-disabled {
    background-color: #e4e4e4 !important;
    cursor: not-allowed;
}

.product-detail-footer button {
    width: 42px;
    height: 42px;
    border-radius: 32px;
    background-color:  #f6d365;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-detail-note {
    margin-top: 20px;
}

.product-detail-clipboard {
    width: 18px;
    height: 20px;
}

.product-detail-size {
    
}

.product-detail-button button{
    margin-top: 20px;
    width: 50%;
    height: 48px;
    font-size: 16px;
    color: white;
    background-color:  #f6d365;
    border-radius: 48px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    border: none;
    margin-left: 30%;
}
ul.actions {
    margin-bottom: 20px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul.actions li {
    margin-right: 20px;
}
ul.actions li.chart {
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 68px;
    list-style-type: none;
}
body, ul {
    margin: 0;
    padding: 0;
}
div.consensus {
    width: 68px;
    height: 68px;
    display: inline-block;
    transition: transform .2s;
    transform: scale(1);
}
div.consensus div.outer_ring {
    display: inline-block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    padding: 4px;
    background-color: #081c22;
}
div.consensus .user_score_chart {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
div.consensus .user_score_chart .percent {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.consensus .user_score_chart .percent .icon {
    color: #fff;
}
.icon-r77:before {
    content: "\e94d";
}
div.consensus .user_score_chart canvas {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}


.bar-container {
    background-color: #003866;
    display: grid;
    place-items: center;
}
.circular-progress {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.circular-progress::before {
    content: "";
    display: block !important;
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #003866;
    border-radius: 50%;
}
.value-container {
    position: relative;
    font-size: 20px;
    color: #FFCAF0;
}

ul.actions li.chart div.text {
    font-weight: 700;
    margin-left: 6px;
    white-space: pre-line;
}
div.product-detail-description div.text {
    font-weight: 700;
    white-space: pre-line;
    font-size: 40px;
}

.product-detail-size-header {
    background-color: #e4e4e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    padding: 15px 16px;
    border-radius: 8px 8px 0 0 ;
}

.product-detail-size-body {
    padding: 15px 16px;
    border: 1px solid #ededed;
    border-radius: 0 0 8px 8px;
}

.quantity-input {
    width: 50px;
    margin: 0 10px;
}

.product-detail-right{
    margin-left: -80px;
}